@model IEnumerable<RecruitPNG.Models.Job>

@{
    ViewData["Title"] = "Jobs";
}
<p>
    <a asp-action="Create" class="btn btn-sm btn-primary">Create new</a>
</p>
<table  id="tblRecords" class="table">
    <thead>
        <tr>
            <th class="text-nowrap all">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            @*<th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Description)
            </th>*@
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.PublishDate)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.IsApproved)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.IsFeatured)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.IPAddress)
            </th>
            <th class="text-nowrap">Eylemler</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFeatured)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IPAddress)
            </td>
            <td class="text-nowrap all">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
