@model IEnumerable<RecruitPNG.Models.Company>

@{
    ViewData["Title"] = "Companies";
}
<p>
    <a asp-action="Create"class="btn btn-sm  btn-primary">Create new</a>
</p>
<table class="table" id="tblRecords">
    <thead>
        <tr>
            <th class="text-nowrap all">
                @Html.DisplayNameFor(model => model.Name)
            </th>            
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.County)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Sector)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.IsApproved)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.ContactName)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Website)
            </th>
                 
            <th class="text-nowrap all" data-orderable="false" >Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>           
            <td>
                @Html.DisplayFor(modelItem => item.Country.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.County.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sector.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                <img src="~/Uploads/Companies/@item.Logo" width="50" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
                
            <td class="text-nowrap all">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
