@model IEnumerable<RecruitPNG.Models.Company>

@{
    ViewData["Title"] = "My company";
}

<link href="~/assets/cdn/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/assets/cdn/responsive.dataTables.min.css" rel="stylesheet" />
<p>
    <a asp-action="Create" class="btn btn-primary">Create new</a>
</p>

<table id="tblRecords" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>@Html.DisplayNameFor(model => model.Logo)</th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.County)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sector)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>@Html.DisplayNameFor(model => model.Phone)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.ContactName)</th>
            <th>
                @Html.DisplayNameFor(model => model.IsApproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>

            <th class="text-nowrap all"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td><img src="~/Uploads/@item.Logo" width="50" /></td>
            <td>
                @Html.DisplayFor(modelItem => item.City.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.County.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sector.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>@Html.DisplayFor(modelItem => item.Phone)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>@Html.DisplayFor(modelItem => item.ContactName)</td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>

            <td class="text-nowrap">
                <a asp-action="Details" asp-controller="Companies" asp-area="" asp-route-Id="@item.Id" class="btn btn-info btn-sm">Details</a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Delete</a>
                <a asp-action="MyJobApplicants" asp-controller="JobApplications" asp-area="" asp-route-Id="@item.Id" class="btn btn-default btn-sm">Applicants</a>

            </td>
        </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script src="~/assets/cdn/jquery.dataTables.min.js"></script>
    <script src="~/assets/cdn/dataTables.responsive.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tblRecords').DataTable({
                responsive: true,
               
            });
        });
    </script>
}
